<div class="container">
  <div class="login-card">

    <div class="title"><span>Gain Shark Login</span></div>

      <form
        #userLogin = "ngForm" 
        class="login-form">
        <div 
          hidden
          id="name-container"
          class="row form-group">
          <i class="fa fa-id-card row-icon"></i>
          <input
            ngModel 
            name="name" 
            #name="ngModel" 
            id="name"
            type="text" 
            class="login-input form-control" 
            placeholder="Name (Optional)">
        </div>

        <div 
          hidden
          id="email-container"
          class="row form-group">
          <i class="fa fa-envelope row-icon"></i>
          <input
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9z.-]+\.[a-z]{2,}$"
            ngModel 
            name="email" 
            #email="ngModel" 
            id="email"
            type="email" 
            class="login-input form-control" 
            placeholder="Email Address">
        </div>
        <div 
          class="alert-banner" 
          *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors.required">
            Email address is required
          </div>
          <div *ngIf="email.errors.pattern">
            Email address must look like sample@mail.com
          </div>
        </div>

        <div class="row form-group">
          <i class="fa fa-user row-icon"></i>
          <input
            required 
            pattern="[^'\x22\s%@]+"
            ngModel 
            name="userName" 
            #userName="ngModel" 
            id="userName"
            type="text" 
            class="login-input form-control" 
            placeholder="Username">
        </div>
        <div 
          class="alert-banner" 
          *ngIf="userName.touched && !userName.valid">
          <div *ngIf="userName.errors.required">
            Username is required
          </div>
          <div *ngIf="userName.errors.pattern">
            Username can only have letters, numbers, and underscores
          </div>
        </div>
  
        <div class="row form-group">
          <i class="fa fa-lock row-icon"></i>
          <input 
            required 
            pattern="[^'\x22\s%@]+"
            minlength="6"
            maxlength="24"
            ngModel 
            name="password" 
            #password="ngModel"
            id="password" 
            type="password" 
            class="login-input form-control" 
            placeholder="Password">
        </div>
        <div 
          class="alert-banner" 
          *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.required">
            Password is required
          </div>
          <div *ngIf="password.errors.minlength">
            Password should be at least {{ password.errors.minlength.requiredLength }} characters
          </div>
          <div *ngIf="password.errors.pattern">
            Password can only have letters, numbers, and underscores
          </div>
        </div>
        <!--<div
          id="login-alert"
          class="login-alert alert-banner">
          {{ loginAlertMessage }}
        </div>-->
  
        <div class="row">
          <div class="btn-grid">
            <button 
              id="btn-login"
              class="btn btn-login"
              type="submit"
              (click)="login(userLogin)">
              Login
            </button>

            <p class="btn-divider">or</p>

            <button 
              id="btn-signUp"
              class="btn btn-sign-up" 
              type="button"
              (click)="signUp(userLogin)">
              Sign Up
            </button>
          </div>
        </div>
  
        <div class="demo-link">
          Want to preview Gain Shark? 
          <a 
            class="hyper-text" 
            (click)="demoLogin()">
            Demo now
          </a>
        </div>

      </form>
  
  </div>
</div>