<div class="program">
    <app-program-item 
        [program]="program" 
        (deleteExerciseEvent)="deleteExercise($event)">
    </app-program-item>
</div>

<div class="add-exercise-container">
    <div
        id="search-container"
        class="search-container"
        hidden>
        <input
            id="exercise-search"
            [(ngModel)]="exerciseFilter"
            class="search-field"
            placeholder="Search exercises...">

        <ul 
            id="exercise-list"
            class="exercise-list">
            <li 
                *ngFor="let exercise of availableExercises | genericFilter: 'Name': exerciseFilter"
                class="exercise"
                (click)="addExercise(exercise)">
                <p class="exercise-name">
                    {{ exercise?.Name }}
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="btn-grid">
    <button
        id="btn-add-exercise"
        class="btn btn-add-exercise"
        type="button"
        (click)="showExerciseList()">
        Add Exercise
    </button>
    <button
        id="btn-create-program"
        class="btn btn-create-program"
        (click)="createProgram();"
        type="button">
        Create Program
    </button>
</div>