* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-grid {
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto auto;

    .btn {
        width: 10em;
        height: 2.5em;
        font-size: 1em;
        font-weight: 600;
        border-radius: 5px;
        border-style: none;
        background: rgb(235, 235, 235);
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(211, 211, 211);
    }

    .btn:hover {
        cursor: pointer;
        background: rgb(211, 211, 211);
    }

    .btn-update-program {
        display: flex;
        justify-self: flex-end;
        background: rgb(83, 234, 245);
        border: 1px solid rgb(83, 234, 245);
    }

    .btn-update-program:hover{
        background: rgb(67, 203, 212);
        border: rgb(67, 203, 212);
    }
}