<div class="program">
    <app-program-item 
        [program]="program" 
        (deleteExerciseEvent)="deleteExercise($event)">
    </app-program-item>

</div>

<div class="btn-grid">
    <button
        id="btn-delete-program"
        class="btn btn-delete-program"
        (click)="deleteProgram();"
        type="button">
        Delete Program
    </button>
    
    <button
        id="btn-update-program"
        class="btn btn-update-program"
        (click)="updateProgram();"
        type="button">
        Update Program
    </button>
    <p class="placeholder"></p>
</div>