* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bar {
    margin-bottom: 1em;
    border: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: rgb(67, 203, 212);
    padding-bottom: .5em;

    .title {
        line-height: 1.5em;
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    .program-description {
        resize: none;
        border-style: none;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        padding-bottom: .5em;
        width: 100%;
    }

    .program-description:focus {
        outline: none;
    }
}

.program-details {

    .exercise-container {

        .exercise-card {
            list-style-type: none;
            display: grid;
            grid-template-columns: 40% 20% 20% 20%;
            margin-bottom: .75em;
        }

        .exercise-header {
            margin-bottom: 1em;
            border: solid;
            border-width: 0;
            border-bottom-width: 1px;
            border-color: rgb(211, 211, 211);
            padding-bottom: .25em;
        }
    }
}