<div class="view-container">
    <div class="logo-container">

    </div>

    <div class="message-container">
        <div class="header">
            <span>Oops!</span>
        </div>

        <h3 class="sub-header">
            404 - Page not found
        </h3>

        <p class="message">
            Use the link below to return to the Gain Shark login
        </p>

        <a 
            class="redirect-link"
            routerLink='/login'>
            Login
        </a>
    </div>
</div>