* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bar {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 1em;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(67, 203, 212);
    padding-bottom: .5em;

    .title {
        line-height: 1.5em;
        font-size: 1.5em;
    }

    .btn-add-program {
        border-radius: 50%;
        border-style: none;
        height: 2.5em;
        width: 2.5em;
        display: flex;
        justify-self: end;
        justify-content: center;
        align-self: center;
        align-items: center;
        background: rgb(235, 235, 235);
    }

    .btn-add-program:hover {
        cursor: pointer;
        background: rgb(211, 211, 211);
    }
}

.program-panel {

    .program-container {

        .program-card {
            list-style-type: none;
            box-shadow: 2px 1px 1px 1px rgba(51, 51, 51, 0.12),
                        2px 2px 2px 2px rgba(51, 51, 51, 0.12),
                        2px 4px 4px 4px rgba(51, 51, 51, 0.12);
            border-radius: 2px;
            padding: 0 1em 1em 1em;
            margin-bottom: 2em;

            .program-name {
                text-decoration: none;
                font-size: 1.25em;
                line-height: 2.5em;
            }
        }

        .program-card:hover {
            cursor: pointer;
            transform: scale(102%, 102%);

            .program-name {
                color: rgb(67, 203, 212);
            }
        }
    }
}