* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    //background: #f39c12;
    
    .login-card {
        width: 25em;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 2px 5px 5px 5px rgba(53, 41, 16, 0.404);

        .title {
            line-height: 3em;
            background: rgb(230, 126, 34);
            padding: 0 1em 0 1em;
            border-radius: 5px 5px 0 0;
            font-size: 1.75em;
            font-weight: 600;
            text-align: center;
        }

        .login-form {
            padding: 1.75em 1.25em .75em 1.25em;

            .row {
                height: 2em;
                margin-bottom: 1em;
                position: relative;

                .row-icon {
                    position: absolute;
                    width: 1.75em;
                    height: 100%;
                    font-size: 1.25em;
                    display: flex;
                    background: rgb(230, 126, 34);
                    border: 1px solid rgb(230, 126, 34);
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px 0 0 5px;
                }

                .login-input {
                    height: 100%;
                    width: 100%;
                    font-size: 1em;
                    padding-left: 3em;
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid rgb(211, 211, 211);
                    transition: all 0.3s ease;
                }

                .login-input:focus {
                    border-color: rgb(230, 126, 34);
                    box-shadow: inset 0px 0px 2px 2px rgba(209, 124, 12, 0.25);
                }

                /*.demo-button {
                    height: 100%;
                    width: 100%;
                    font-size: 1em;
                    font-weight: 600;
                    border-radius: 5px;
                    border: 1px solid lightgrey;
                }*/

                .btn-grid {
                    display: grid;
                    height: 100%;
                    grid-template-columns: 5fr 1fr 5fr;
                    column-gap: 1em;

                    .btn {
                        font-size: 1em;
                        font-weight: 600;
                        border-radius: 5px;
                        background: rgb(235, 235, 235);
                        border: 1px solid rgb(211, 211, 211);
                    }

                    .btn:hover {
                        background: rgb(211, 211, 211);
                        cursor: pointer;
                    }

                    .btn-divider {
                        position: relative;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: rgb(122, 122, 122);
                    }

                    .btn-login {
                        background: rgb(230, 126, 34);
                        border: 1px solid rgb(230, 126, 34);
                    }

                    .btn-login:hover {
                        background: rgb(209, 106, 16);
                        border: rgb(209, 106, 16);
                    }
                }
            }

            .alert-banner {
                display: flex;
                margin: -1em 0 1em 0;
                background: rgba(255, 105, 105, 0.25);
                color: rgba(124, 27, 27, 0.863);
                height: 3em;
                width: 100%;
                font-size: 1em;
                padding-left: .5em;
                border-radius: 5px;
                border: 1px solid rgb(211, 211, 211);
                align-items: center;
            }

            .demo-link {
                margin-bottom: .5em;
                font-size: 1em;

                .hyper-text {
                    color: rgb(243, 156, 18);
                    text-decoration: none;
                }

                .hyper-text:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.form-control.ng-touched.ng-invalid {
    border-color: rgba(124, 27, 27, 0.863);
    box-shadow: inset 0px 0px 2px 2px rgba(255, 105, 105, 0.25);
}