.login-container {

    .login-header {
        font-size: 1.5em;
    }

    .login-content {
        display: grid;
        grid-template-columns: auto auto;

        .login-input {

        }

    }

}